# Entornos virtuales
venv/
env/
.env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema y de editores (IDE)
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos generados de la aplicación (imágenes/GIFs exportados)
outputs/
